* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 1rem auto;
}

.homePage {
  background-image: url('./images/Hero1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

/* .heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.error {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}